@{
    ViewBag.Title = "概况";
    Html.AddScriptParts(ResourceLocation.Head, "~/Scripts/vue.js");
} 
<!-- 搜索栏 -->
<div class="layui-form">
    <div class="layui-form-item">
        <table class="layui-table">
            <tr>
                <th>上线企业总数</th>
                <th>上线资源总数</th>
                <th>上线活动总数</th>
                <th>上线应用总数</th>
                <th>资源领取总数</th>
                <th>资源兑换总数</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <button class="layui-btn layui-bg-red" type="button" onclick="jumpToCheck(1)">企业待审核 <span class="layui-badge-rim "></span></button>
            <button class="layui-btn layui-bg-blue" type="button" onclick="jumpToCheck(2)">资源待审核 <span class="layui-badge-rim "></span></button>
            <button class="layui-btn layui-bg-green" type="button" onclick="jumpToCheck(3)">活动待审核 <span class="layui-badge-rim "></span></button>
            <button class="layui-btn layui-bg-orange" type="button" onclick="jumpToCheck(4)">应用待审核 <span class="layui-badge-rim "></span></button>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" name="CompanyName" id="CompanyName" placeholder="请输入企业名称" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width:auto">
                <button class="layui-btn layui-btn-normal" type="button" onclick="Search(1)">搜索</button>
            </div>
        </div> 
    </div>
</div> 
<!-- 列表 -->
<form class="layui-form" action="" id="CompanyList">
    <div class="layui-form-item">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>公司全名</th>
                    <th>上线应用数</th>
                    <th>上线资源数</th>
                    <th>上线活动数</th>
                    <th>资源领取数</th>
                    <th>资源兑换数</th>
                    <th style="width: 300px">操作</th>
                </tr>
            </thead>
            <tbody v-show="isShow" id="tbody" style="display:none">
                <tr v-for="(item,index) in items">
                    <td>{{ item.CompanyName }}</td>
                    <td>{{ item.AppCount }}</td>
                    <td>{{ item.ReceiveCount }}</td>
                    <td>{{ item.ActivitiesCount }}</td>
                    <td>{{ item.ReciveCount + item.ChangeCount}}</td>
                    <td>{{ item.ChangeCount }}</td>
                    <td>
                        <a v-on:click="DetailCompany(item.Id)" href="javascript:" class="layui-btn layui-btn-mini">查看详情</a>
                        <a v-bind:href="'@Url.Action("AppList","Check",new {state = 1})&companyId='+item.Id" class="layui-btn layui-btn-mini layui-btn-warm">应用详情</a>
                        <a v-bind:href="'@Url.Action("ResourceList","Resource",new {VerifyState=1})&CompanyId='+item.Id" class="layui-btn layui-btn-mini layui-btn-normal">资源详情</a>
                        <a v-bind:href="'@Url.Action("ActivityList","Activity",new {state=1})&companyId='+item.Id" class="layui-btn layui-btn-mini layui-btn-danger">活动详情</a>
                    </td>
                </tr>
            </tbody>
            <tbody v-show="!isShow">
                <tr>
                    <td colspan="9">暂无数据</td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <div id="page" style="text-align: center;"></div>
    </div>
</form>

<script type="text/javascript">
    var pageLength = 20;//每页显示条数
    var pIndexCurr = 1//当前页
    var companylist = new Vue({
        el: '#CompanyList',
        data: {
            items: null,
            isShow: false
        },
        methods: {
            AuditCompany: function (Id, VerifyState) {
                AuditCompany(Id, VerifyState);
            },
            DetailCompany: function (Id) {
                DetailCompany(Id);
            }
        }
    });
    function DetailCompany(Id) {
        VMsg.OpenWindow('@(Url.Action("DetailCompany", "CompanyApply"))?Id=' + Id, '企业详情', {
            area: ["950px", "720px"],
            end: function () {
            }
        });
    }
    $(function () {
        sessionStorage.setItem("SelElem", "dd_0");
        Search(1);
    })
    function Search(pIndex) {
        var VerifyState = $("#VerifyState").val();
        var CompanyName = $('#CompanyName').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Index", "Home")',
            data: { cmd: "GetList", VerifyState: VerifyState, CompanyName: CompanyName, PageLength: pageLength, PageStart: ((pIndex - 1) * pageLength + 1) },
            success: function (r) {
                companylist.items = r.data.Item2;
                companylist.isShow = r.data.Item2.length > 0 ? true : false;
                if (pIndex == 1) {
                    if (r.data.Item2.length > 0) {
                        $("#tbody").show();
                    }
                    loadPage(r.data.Item1);
                }
            }
        });
    }
    function loadPage(pagecount) {
        layui.use(['laypage'], function () {
            laypage = layui.laypage;
            //分页
            laypage.render({
                elem: 'page' //注意，这里的 page 是 ID，不用加 # 号
              , count: pagecount //数据总数，从服务端得到
                , limit: pageLength
              , layout: ['count', 'prev', 'page', 'next']//自定义排版
                , jump: function (obj, first) {
                    if (!first) {
                        pIndexCurr = obj.curr;
                        Search(obj.curr);
                    }
                }
            });
        })
    }

    function jumpToCheck(type) {
        switch (type) {
            case 4:
                sessionStorage.setItem("SelElem", "dd_7");
                location.href = "@Url.Action("AppList", "Check", new { state = 0 })";
                break;
            case 1:
                sessionStorage.setItem("SelElem", "dd_9");
                location.href = "@Url.Action("CompanyApplyList", "CompanyApply", new { VerifyState = 0 })";
                break;
            case 2:
                sessionStorage.setItem("SelElem", "dd_12");
                location.href = "@Url.Action("ResourceList","Resource",new { VerifyState=0})";
                break;
            case 3:
                sessionStorage.setItem("SelElem", "dd_8");
                location.href = "@Url.Action("ActivityList", "Activity", new { state = 0 })";
                break;
            default: break;
        }
    }
</script>
