<div class="box-body">
    <div class="form-group">
        @{var model = Battery.DAL.Sys.DictDAL.GetDict("KefuPhone", "System");}
        <div>
            <input type="text" name="ConfigValue" id="KefuPhone" class="post-data layui-input" style="width:300px" value="@Html.Raw(model != null ? model.ConfigValue : "")" />
        </div>
        <input type="hidden" name="GroupCode" class="post-data" value="@(model != null ? model.GroupCode : "KefuPhone")" />
        <input type="hidden" name="ConfigCode" class="post-data" value="@(model != null ? model.ConfigCode : "System")" />
        <input type="hidden" name="SoryNo" class="post-data" value="@(model != null ? model.SortNo : 0)" />
        <input type="hidden" name="Id" class="post-data" value="@(model != null ? model.Id : 0)" />
    </div>
</div>

<div class="box-footer">
    <div class="form-group">
        <button type="submit" class="layui-btn" onclick="submit(3)">提交</button>
    </div>
</div>
