@model List<Battery.Framework.Attributes.PermissionModel>
@{
    ViewBag.Title = "角色权限";
    Layout = "~/Views/Shared/_Manager_LayoutPage.cshtml";
    Html.AddScriptParts(ResourceLocation.Foot, "~/Scripts/jslibrary.js");
}
<div style="padding:15px">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline" style="width:auto">
                    <button type="button" onclick="SyncPermission();" class="layui-btn layui-btn-normal">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 表格数据 -->
    <form class="layui-form" action="" id="formList">
        <div class="layui-form-item">
            <table class="layui-table">
                <colgroup>
                    <col width="80">
                    <col width="130">
                    <col width="100">
                    <col width="100">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" lay-skin="primary" lay-filter="allCheck" name="allCheck" id="allCheck" /></th>
                        <th>标题</th>
                        <th>控制器</th>
                        <th>动作</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody v-show="isShow">
                    @foreach (var item in Model.OrderBy(i => i.ControllerName).OrderBy(i => i.Rank))
            {
                        <tr v-for="(item, index) in items">
                            <td><input type="checkbox" lay-skin="primary" name="checkPermission" value="@item.ControllerName|@item.ActionName" /></td>
                            <td>@item.Title</td>
                            <td>@item.ControllerName</td>
                            <td>@item.ActionName</td>
                            <td>@item.Memo</td>
                        </tr>
                    }
                    @if (Model.Count == 0)
                    {
                        <tr id="nocontenttr">
                            <td colspan="5">暂无数据</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form;
        //监听全选
        form.on('checkbox(allCheck)', function (data) {
            if (data.elem.checked) {
                $("input[name='checkPermission']").prop("checked", true);
            }
            else { $("input[name='checkPermission']").prop("checked", false) }
            form.render('checkbox');
            //console.log(data.elem); //得到checkbox原始DOM对象
            //console.log(data.elem.checked); //是否被选中，true或者false
            //console.log(data.value); //复选框value值，也可以通过data.elem.value得到
            //console.log(data.othis); //得到美化后的DOM对象
        });
    });
    function SyncPermission() {
        PubAjax.Post("@Url.Action("SetPermission", "System")", {
            "RoleId": '@ViewBag.RoleId',
            "Permissions": checkValues("checkPermission")
        }, function (r) {
            if (r.code > 0) {
                VMsg.AlertSuccess("执行成功", {
                    end: function () {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index);
                    }
                });
            } else {
                VMsg.AlertError(r.message);
            }
        });
    }
    $(function () {
        @foreach (var sp in (List<Battery.Model.Sys_Role_Permission>)ViewBag.PermissionList)
            {
                @:$("input[name='checkPermission'][value='@sp.Controller|@sp.Action']").attr("checked", true);
                            }
    });
</script> 